# rusty-flash-knowledge api project - files ignored from the repo

# VS Code Settings
.vscode

# Caddy local proxy config
Caddyfile

# Build artifacts
/target

# Environment variables
.env

# Shuttle Environment variables
Secrets*.toml

