{% extends "base.html" %}

{% block content %}

<section>
    <article>
        <p>Click the "Q" button below to display a question. Then click the "A" button to display the answer.</p>
    </article>
    <br />
    <article>
        <h3>Question:</h3>
        <p id = "question_text"></p>
        <button id="question_button">Q</button>
    </article>
    <br />
    <article>
        <h3>Answer:</h3>
        <p id="answer_text"></p>
        <button id="answer_button">A</button>
    </article>
    <br />
    <article>
        <button id = "reset_button">Reset</button>
    </article>
</section>

{% endblock content %}